# ==========
# PYTHON
# ==========
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg-info/
.env
.venv/
env/
venv/
*.log
*.sqlite3

# Game logs
client/SelfPlayLogs/
client/OldLogs/

# ====================
# VISUAL STUDIO
# ====================
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# ====================
# OS
# ====================
.DS_Store
Thumbs.db